.search-bar {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 1em;
}

.filter-container {
    border: 1px solid #e5e5e5;
    padding: 1em;
}

.label-select-container {
    /*display: inline-block;*/
}
