{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template oerapi_oerhub/resource

    Example context (json):
    {
    }
}}
<div class="d-flex flex-column py-2 mx-2 text-dark">
    <div class="row m-1">
        <a href="{{oerresourcelink}}" target="_blank"><b>{{title}}</b></a>
    </div>
    <div class="row m-1">
        <div class="col-auto">
            <img src="{{thumbnail}}" alt="Thumbnail" width="104" height="142" style="float:left">
        </div>
        <div class="col">
            <div class="row">
                <p>{{abstract}}</p>
            </div>
            <div class="row">
                <div class="col mr-auto">
                    <div class ="row">
                        {{#str}} author, oerapi_oerhub {{/str}}{{authors}}
                    </div>
                    <div class ="row">
                        {{#str}} uploaddate, oerapi_oerhub {{/str}}{{uploaddate}}
                    </div>
                </div>
                <div class="col">
                    <a href="{{{licenseurl}}}" target="_blank">
                        {{{licenseicons}}}<br/>
                        {{license}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
