{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template oerapi_oerhub/resultlist

    Example context (json):
    {
    }
}}
{{> oerapi_oerhub/filteroptions}}

<div id="region-main-box">
    <div class="row py-1">
        <a href="#" onclick="$.mod_oercollection_setall(true)">
            {{#str}}checkall, mod_oercollection{{/str}}
        </a>
        <a href="#" onclick="$.mod_oercollection_setall(false)">
            {{#str}}checknone, mod_oercollection{{/str}}
        </a>
    </div>

    {{#oersearchresultlist}}
        <div class="row py-1">
            <div class="d-flex flex-column mb-3 p-0" style="width:100%;border: 1px LightGrey solid;border-radius: 5px;">
                <div class="d-flex" style="border: 1px LightGrey solid;">
                    <!-- the checkbox -->
                    <div class="d-flex p-2 align-self-center" style="width:5%;">
                        <input class="mod-oercollection-checkbox" type="checkbox" name="selectbox" value="{{oerhubid}}">
                        <a id="resourcelink{{oerhubid}}" href="{{link}}" target="_blank"></a>
                        <input type="hidden" id="title{{oerhubid}}" value="{{title}}">
                    </div>
                    <!-- the checkbox END -->

                    <!-- HTML provided by the subplugin -->
                    <div class="d-flex flex-grow-1 pr-1" style="width:60%;">{{{oerhtml}}}</div>
                    <!-- HTML provided by the subplugin END -->

                    <!-- the Buttons-->
                    <div class="p-1 flex-fill align-self-center" style="width:10%;">
                        <a class="btn btn-secondary mb-1 px-1" href="{{link}}" target="_blank"  style="width:100%;"><small>{{#str}} openresource, mod_oercollection {{/str}}</small></a><br>
                        <a class="btn btn-primary mt-1 px-1" href="#" onclick="$.mod_oercollection_add_to_collection({{oerid}}, '{{{oerhubid}}}', '{{{link}}}', '{{title}}')" style="width:100%;"><small>{{#str}} addtocollection, mod_oercollection {{/str}}</small></a>
                    </div>
                    <!-- the Buttons END-->

                </div>
            </div>
        </div>
    {{/oersearchresultlist}}
    <!--
    <div class="row py-1">
        <div class="d-flex p-0">
            <div class="p-1">
                <label class="mr-1" for="editoptionselect">{{#str}}selectdotdot, mod_oercollection{{/str}}</label>
                <select class="custom-select" id="editoptionselect">
                    <option value="1">{{#str}}openselected, mod_oercollection{{/str}}</option>
                    <option value="5">{{#str}}addselected, mod_oercollection{{/str}}</option>
                </select>
            </div>
            <div class="p-1 ml-1 flex-grow-1">
                <a class="btn btn-primary" href="#" onclick="$.mod_oercollection_bulk_action({{oerid}})"> {{#str}}
                    start, mod_oercollection {{/str}}</a>
            </div>
        </div>
    </div>
    -->
</div>